body{
	background-image:url(../images/desserts/背景.png) ;
	background-attachment: fixed;/*背景图片不会固定不会因页面滚动而重复*/
	background-repeat: no-repeat;/*使图片不管任何大小都不会重复*/
	background-size: 20%;
}

nav {
    background-color: #f0ece3;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #5884ae;
	border-bottom: none;
	font-weight: bold;
}
nav ul li.selected {
	background-color: #c8b99c;
}

div#tableContainer {
	display: table;
}
section#section1 {
    background-color: #fffefb;
    width: 100%;
    padding: 10px;
}
section#section2 {
    background-color: #fffefb;
    width: 100%;
    padding: 10px;
}
section#section3 {
    background-color: #fffefb;
    width: 100%;
    padding: 10px;
}

div img{width: 30%; }

form {
	display: table;
	padding: 10px;
	border: thin dotted #7e7e7e;
	background-color: #e1ceb8;
}

form textarea {
	width: 500px;
	height: 200px;
}

div.tableRow {
	display: table-row;
}

div.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
div.tableRow p:first-child {
	text-align: right;
}
p.heading {
	font-weight: bold;
}